<div class="columns is-gapless is-full-height has-border-top">
  <div class="column is-4 is-full-height has-vertical-scroll has-border-right" id="threads-list">
    <%= render partial: "mails_list", locals: {items: @items} %>
  </div>
  <div class="column is-8 is-full-height" id="messages-pane">
    <%= render partial: "message", locals: {selected_item: @selected_item} %>
  </div>
</div>