<div class="container">
  <div class="columns is-vcentered">
    <div class="column">
      <p class="title">
        POLYBOARD
      </p>
      <p class="subtitle">
        An email port for <strong>gmail</strong>
      </p>
    </div>
  </div>
</div>