<div class="columns">
  <div class="column is-10 is-offset-1">
    <br/>
    <h1 class="title">Mailboxes</h1>
    
    <div class="columns is-half-quarter">
      <div class="column">
        <% @mailboxes.each do |mailbox| %>
        <div class="card is-fullwidth">
          <header class="card-header">
            <p class="card-header-title">
              <%= link_to mailbox_path(mailbox.id) do %>
              <i class="fa fa-file" aria-hidden></i>&nbsp;<%= mailbox.name %>
              <% end %>
            </p>
            <%= link_to edit_mailbox_path(mailbox.id), class: 'card-header-icon' do %>
            <i class="fa fa-edit" aria-hidden></i>&nbsp;
            <% end %>
          </header>
          <div class="card-content">
            <div class="content">
              <%= mailbox.description %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>