<%= render partial: 'tabs' %>

<div class="columns padded">
  <div class="column">
    <h1 class="title">Add New Mailbox</h1>
    <div class="column is-8 is-offset-2">
      <%= render partial: 'form' %>
    </div>
  </div>
</div>