@import "font-awesome-sprockets";
@import "font-awesome";
@import "bulma";
@import "common";
@import "cssreset-context-min";

.pure-content {
  height: 650px;
  background: #fff;
}

.is-full-height {
  height: 100%;
}

.is-dark-gray {
  background: #434A54;
}

.is-hidden-overflow {
  overflow: hidden;
}

.has-vertical-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.message-info {
  max-height: 95px;
  border-bottom: thick solid rgba(211, 214, 219, 0.5);

  .title {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
  }
}

.partial-border-top-right {
  border-top-right-radius: 5px;
}

.has-border-top {
  border-top: 1px solid rgba(211, 214, 219, 0.5);
}

.has-border-right {
  border-right: 1px solid rgba(211, 214, 219, 0.5);
}

.message-info + .messages {
  padding-bottom: 95px;
}

@media screen and (max-width: 769px) {
  .is-full-height {
    height: auto;
  }

  .message-info + .messages {
    padding-bottom: 0px;
    padding-top: 20px;
  }

  .pure-content {
    height: auto;
  }
} 

body > .notification {
  width: 70%;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}


iframe.is-fullwidth {
  width: 100%;
}

.yui3-cssreset .gmail_extra {
  display: none;
}

.hero-head + nav.tabs {
  padding-top: 5px;
}