@import "font-awesome-sprockets";
@import "font-awesome";
@import "bulma";
@import "common";
@import "cssreset-context-min";

.pure-content {
  background: #fff;
}

.mails-content {
  height: 650px;
}

.padded-bottom-10 {
  padding-bottom: 10px!important;
}

.is-full-height {
  height: 100%;
}

.is-dark-gray {
  background: #434A54;
}

.is-hidden-overflow {
  overflow: hidden;
}

.has-vertical-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.message-info {
  max-height: 95px;
  border-bottom: thick solid rgba(211, 214, 219, 0.5);

  .title {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
  }
}

.partial-border-top-right {
  border-top-right-radius: 5px;
}

.has-border-top {
  border-top: 1px solid rgba(211, 214, 219, 0.5);
}

.has-border-right {
  border-right: 1px solid rgba(211, 214, 219, 0.5);
}

.message-info + .messages {
  padding-bottom: 95px;
}

@media screen and (max-width: 769px) {
  .is-full-height {
    height: auto;
  }

  .message-info + .messages {
    padding-bottom: 0px;
    padding-top: 20px;
  }

  .pure-content {
    height: auto;
  }
} 

body > .notification {
  width: 70%;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}


iframe.is-fullwidth {
  width: 100%;
}

.yui3-cssreset .gmail_extra {
  display: none;
}

.hero-head + nav.tabs {
  padding-top: 5px;
}

.sidebar-panel {
  border: none;
  border-radius: 0;
  
  .message {
    border-radius: 0;
    margin-bottom: 0;
    
    &.is-active {
      border-right: thick solid #37BC9B;
    }
  }
}

.tree,
.tree ul {
  margin:0 0 0 1em; /* indentation */
  padding:0;
  list-style:none;
  color:#369;
  position:relative;
}

.tree ul {margin-left:.5em} /* (indentation/2) */

.tree:before,
.tree ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid;
}

.tree li {
  margin:0;
  padding:0 1.5em; /* indentation + .5em */
  line-height:2em; /* default list item's `line-height` */
  font-weight:bold;
  position:relative;
}

.tree li:before {
  content:"";
  display:block;
  width:10px; /* same with indentation */
  height:0;
  border-top:1px solid;
  margin-top:-1px; /* border top width */
  position:absolute;
  top:1em; /* (line-height/2) */
  left:0;
}

.tree li:last-child:before {
  background:white; /* same with body background */
  height:auto;
  top:1em; /* (line-height/2) */
  bottom:0;
}