<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        PolyBoard
      </h1>
      <h2 class="subtitle">
        A sample application uses the omniauth-google-oauth2 and google-api-client gems to use gmail api.
      </h2>
      <div class="has-text-centered">
        <a href="https://github.com/darylenriquez/polyboard">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</section>