<div class="tabs">
  <ul class="is-left">
    <li class="is-active"><a>Inbox</a></li>
  </ul>
  <ul class="is-right">
    <span><%= @token.email || '--empty--'%> &nbsp;</span>
  </ul>
</div>
<div class="columns">
  <div class="column is-3 messages-box">First column</div>
  <div class="column is-9 is-offset-3">Second column</div>
</div>